#container
{
  width: 90%;
  height: 66em;
  background-color: rgba(231, 224, 224, 0.693);
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}
img
{
  width: 20em;
  height: 30em;
  border-radius: 10px;
  border: 1px solid #edf6f9;
  transition: 200ms;
}
img:hover{
  padding:10px;

}
html{
  background-image: url(https://media.istockphoto.com/id/1077679226/photo/black-and-white-smoke.webp?b=1&s=170667a&w=0&k=20&c=cRJRADyCwOPpmgi22RLsNqR1P_b1qoyZhO8UXn-XlgA=);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;;
}
a{
  text-decoration: none;
  text-decoration: solid;
  transition: 0.29s;
}
a:hover{
  font-size: larger;
  text-shadow: 2px 2px 4px #001d3d;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.6;
    padding: 10px;

}

.fa-twitter {
  background: #000000;
  color: white;
}

.fa-linkedin {
  background: #000000;
  color: white;
}



.fa-instagram {
  background: #000000;
  color: rgb(255, 255, 255);
}

#icons
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#icons a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 23px;
}

